nav{
    margin-bottom: 40px;
}

nav > a {
    margin-right: 100px;
}

#grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.item{
    display: grid;
    background-color: rgb(243, 162, 162);
    padding: 30px;
}


button{
    padding: 10px;
    border: none;
    background-color: darkgray;
    cursor: pointer;
}

img{
    width: 200px;
}